.Footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
}

.Footer__logo {
    padding: 76px;
    color: var(--white);
}
